@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btnActiveCat {
  background-color: #15803D;
  color: white;
}

.bg-double-leaf {
  background-image: url('../assets/hero-leaf1.png'), url('../assets/hero-leaf2.png');
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, 30%;
}

@media (min-width: 1100px) {
  .bg-double-leaf {
    background-size: contain, contain;
  }
}